/viz*/*
/runs/*
/weighting_results/*
/pretrained/*
/rain_training/*
/night_training/*
/nusc_viz/*
/junk*/
/build/*
/336_training/*
/data/*

/debug*
*/*.egg
*/*.pyc

/all_*/
make_video.zip

/scripts_2025/__pycache__/*
/scripts_2025/evaluation_results/*
/scripts_2025/*.pth

/scripts_2025/eval_results*

/scripts_2025/logs/*

/scripts_2025/temp

/scripts_2025/v2_v3_models/*

*.png

scripts_2025/v4_v11_models_results/*

scripts_2025/analysis/results/*

/scripts_2026/*.pth

/scripts_2026_fine/*.pth

/scripts_2026_fine/viz*

/scripts_2026_paper/*.pth

/scripts_2026_paper/viz*

match_anything_inference/matchanything_venv/
match_anything_inference/MatchAnything/