/viz*/*
/runs/*
/weighting_results/*
/pretrained/*
/rain_training/*
/night_training/*
/nusc_viz/*
/junk*/
/build/*
/336_training/*
/data/*

/debug*
*/*.egg
*/*.pyc

/all_*/

/scripts_2025/__pycache__/*
/scripts_2025/evaluation_results/*

/scripts_2025/*.pth

/scripts_2025/eval_results*